/********************************************
* Global
********************************************/
html, body, p, ul, ol, li, button, input, select, textarea, .pure-g [class *= "pure-u"] {
  font-family:  "Hoefler Text", Georgia, Times, "Times New Roman", serif;
  color: #333;
}

#black-them {
  background-color: #222228;
}

body#black-them,
#black-them p,
#black-them ul,
#black-them ol,
#black-them li,
#black-them button,
#black-them input,
#black-them select,
#black-them textarea,
#black-them .pure-g [class *= "pure-u"] {
  color: #fff;
}

#black-them blockquote {
  color: #333;
}

section{
	padding: 1.2em;
}

h2{	
	font-weight: bolder;

}

h2, h3, h4, h5, h6 {
	margin-bottom: 1em;
}

p{
	line-height: 20px;
}

ul{
    list-style-type: disc;
    -webkit-padding-start: 20px;
	margin-bottom: 1.5em;
}

li{
	margin-bottom: 0.5em;
}

table {
  border-collapse: collapse;
}

table {
	  border-spacing: 0.5rem;
}

td {
	padding: 0.5rem;
}

a:link, a:visited, a:hover, a{
	color: #990000;
	text-decoration: none;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 0;
  padding: 1em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
